[phases.install]
cmds = [
  "npm ci --production=false",
]

[phases.build]
cmds = [
  "npm run build",
]

[variables]
NPM_CONFIG_CACHE = "/tmp/.npm"
NODE_OPTIONS = "--max-old-space-size=4096"
NEXT_TELEMETRY_DISABLED = "1"
NPM_CONFIG_FUND = "false"
NPM_CONFIG_AUDIT = "false"

[start]
cmd = "npm start"
